:root {
--dark: #362c38;
--primary: #9c94a6;
--light: #d4d2d6;
--ribbon: #110b12;
}

body {
    background-color: var(--dark);
    margin: auto;
    color: var(--light);
    font-family: 'Exo 2', sans-serif;
    
}



header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}

header, footer {
    background-color: var(--ribbon);
}

nav  {
    flex: 2;
    min-width: 200px;
    text-align: right;
    justify-self: unset;
   
   
}

nav, ul li {

    display: inline;
    min-width: 200px;
    text-align: right;
   
   
}

nav a, a {
    color: var(--light);
   

}


header, main {
   padding: 10px 20px;

}
section {
    padding: 15px;
}
.container {
display: flex;
/*flex-direction: row;
flex-wrap: wrap; */
flex-flow: row wrap; 
justify-content: center ;
align-items: center;
gap: 30px;
}   

figure {
    background-color: rgba(63, 57, 66, 0.5);
}

a.full-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--light);
}

#headshot {
    border: 2px solid var(--primary);
    border-radius: 100%;
    max-width: 150px;

}


.about:first-child {
   margin-right: 10px;  
}

.about:nth-child(2) {
    flex: 3;
    min-width: 50vh;

}

.mainproject
{
    flex: 1;
    width: 100%;
    min-height: 30vh;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHdLeqcvP1YX5xfMi9PhO0VDfuUDP6bdour2Y3Dv0IygmLLZFskTACS4K1hJYio98X9e6BTCUHNleqDKmtVWQgh5IxskyksDrRD4wetyf3FRTqyMaJLWun3NJMwDZUKtoDkG2Q9TlCklx0Yyrkjbla_Yofi2NoCdgkbPbZN9tiQDQCRsFgk1D4Tn_8drYJvdQpRUp1G1n4Kjee4XQCiYogX97fPozlYn36gr3_a_dcUdOywVJvA9OuEIZf9R4YPm9KFUWerqaLYYrimj-4EnMCJTxXggL4kX1Xz6Nm7kN3u-fqa9jTqsCX3-BfTvsPoIkTHUAxLHoXU0cfiVe7UYqFgzeEMCluPjxzAqUHOrHtqfXRruVc2Zds9BQ9JQXzTzT1Rmj5Fmuu_89_5CQrHuLZ7e5jpLN8bbtSm4GTbObo5-O5vON82jjv339rymII5uAJyahoAXOVM7zi0Q4q6WS4DRTAyFB63wHPTlEu95t4TvEHTGiPgovJ6KPkaOHymSyHB_7CkME63GfNtYrmoPk1RxZyJATMmslRGKIzdVXTzt4avO5CjcoH9VuFBa4TYAF89hyMhAVL0BOuiawcurEfHb3RVseCFWZklmmB-ozn9i4mIYc26hZIuCO71JMxq4ONBjSgpPgGPL0j4H5d_19qW7uBbqTPi0OqqE3SYzWA1meX4rH75nk9ZuOSxFdXEiA1Ch6QwAmRhoZM3pZpK7oZC_lU6NAw-z1Kl7lSlY6TOrlJjSDjIsFP2Rd0YfpO96OXOiEBNK2nRpjusvHoiZ3x3MEMTiab6yaqHX2hjT7F2VhC-qGiuOH88lC6urdAJjRo1hM-8nmJFsdG-k82PdWvlH1PbbYwNsRc4droeDTZR0-Ds9qruyZdEi6jCNWtNpiP8W-6Gi0OGpdb1Pu62AGAHFDws=w1641-h777-s-no?authuser=0);
    
}
.mainproject figure {
    min-height: 30dvh;
}

.card
{
    flex: 1;
    min-width: 300px;

}

.card:first-child {
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHcHUW-A-r1LBG9OSIYG2QvXFTVhlJSUNrR0-CVxOysUbJ0_HXLer0Pgod-EVRUUGDaPcY3Sn_NnErbnG3rla_0_DUmzkznUK06L5wmlIwBiI-vwYqBoMecCTNUWbDp145Zb-VMbF6Sc5HzSFFIn-2xC-X3h08TxaFajvC5E81qjn1kmd1fpe-Bv6aP7hXyABz8bb358oWoGCIWQWKE10xQcLm3ciFRridfKQ5VxAkCqN1mB-PPN6KfhVRt7Pv5ypOMUUF3Z6NDojYbiqN252Q8d0Sw4K47HRzhKk7kFtORUtn5s8Nu7WDOY1_dDDX7p0MC50vzLWhJYdDC4Wwb7yvb8IghdsTEOaI8rudQpRge9f3oEqzjxh_SjsVTp_kIvu_DoqIPTiPayfDxjN7P3s5XjY1fPxIxpp1KlJUdXRWNlvXeoYd7C5xzgbq1M5mjLrL-ed94TitqFL8FeO8KOXCs2wYVnfqHHwz7ppjSvVnbD1jMMe6egA2HJjvVrLmwXQZiYjMFtRJRdaXL4G8G6RmyiW3QtnZb3bVGQpBjoXufevee0WEpB6-L7VvExihvu2zPGfE-rmtzTOTBMaqyCj0vqe2CXzBG8m6X4AJspaNpVfQa4tV4DpTQwjJBAuS9PaAbjhxwZrU00_aZMx-jmH8X5Up7ORga_o1MmFUGkRMyk4mMQb8tleiXhTX8Xv5AlfOvtELbx5enhWw09KSORxdOAFGTPmjqiaJxARvXkwrVp-Q5YbAa-3aJV7ZTX3RHSF9zIMYk9Tw5BZWagmRVrKdeyPZpIarFo5nN6RLzAhRq7WwCSHC-GK0uhItKmeMxmzTW2imjf7toeNseLJbETXQb9PAgj1B-f3mND3ggWETltGps01Wahfl4ZuoNIXANuoaNkZ9AOJ-5beCzZHNKTnaKd23I=w1641-h778-s-no?authuser=0);

}

.card:nth-child(2) {
 background-image: url(https://lh3.googleusercontent.com/pw/ADCreHd-qlENWzypM5amNvNAumM0L0h0dMl2xns56zT8s0k7waVTuKYJ2nCwr93O_zhk_zkWHaet_cEXWU77apgtkQf9g9RNK5tmWil5RT1g6VlSk5ta1RMuLxGmOP7OQp57u2tbzYMXPC0mVQeimO9EYeuhw70IVm7-CfW2S4LseiJphPFIEkRDlekrd44mkGWmwcKTPIygEpTB1Bg8Ogo-XzHcKyVewpGv51eRNW0fmkqG9JHmuY_6IUGrS8rItDlpqSLucSNagn0d6MKGK6W12_5yqouSmm3v6ihYQDYLQPN2YK8VttcILIBsWaO9Rpr3Yln02EFzZBx282kHkf9ZhOxKAUALJ55OvYpNn-bKDq__gb8N4P0FPKk4MtRfVcCgCElgdatrl9SsZXskXkpWTJV4WA4LsuL34OBeyTYnYCj_VkT4DWij11vtxd22ULCSt3D9sHjew1bfKwT0SrjBjDsvHLivTnkxCAaDQcCht7E6ztyYUtJUsyIbgLW0Do2zdZT8ef2ndgYjc0ctSR4NqU1qff1uJ2vYxIA_Bt0aeHc7EvOmwCuykvPQ6pZ60RsfxEeWUaOvK035-i_2V86jSVxPMelhNJJGjMR3sE8kjz_OeawJpv8gTMhrdpc8ub8SRWF1JyznWxBqAU9wqnC2Gb9JxHA_Pz0DHbISQgdlTvTI64cFomHa6U4VXSPiegYza6Qhroo-ceXwyGAPlWLdm3wqGk0OxIFMn6r1zdIKrq0VTUYE1lqAh1uPmzAkpQ4L7CvioTo3ijTvNsGNe-ry3JerDrBmi5w-fkLo74Eo4x-pkdrM_ox0rAfnRjHTZDPTvaX5TXk05lIwHzYfP5nA54kzman8ALmYbuPHhMGonA1WN2r6WwJIfS_7lvRlJiqM0JmreB6truq1o7UI08s2EnVwjvE=w1641-h778-s-no?authuser=0);   
}

.card h3 p {
    padding: 50px;
}

footer{
    padding: 30px 0;
    text-align: center;
}

