:root {
--dark: #362c38;
--primary: #9c94a6;
--light: #d4d2d6;
--ribbon: #110b12;
}

body {
    background-color: var(--dark);
    margin: auto;
    color: var(--light);
    font-family: 'Exo 2', sans-serif;
    
}



header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}
header, main {
   padding: 10px 20px;

   
}

header, footer {
    background-color: var(--ribbon);
}

nav  {
    flex: 2;
    min-width: 200px;
    text-align: right;
    justify-self: unset;
   
   
}

nav, ul li {

    display: inline;
    min-width: 200px;
    text-align: right;
   
   
}

nav a, a {
    color: var(--light);
   

}

section {
    padding: 15px;
}

.container {
display: flex;
/*flex-direction: row;
flex-wrap: wrap; */
flex-flow: row wrap; 
justify-content: center ;
align-items: center;
gap: 30px;
}   

figure {
    background-color: rgba(63, 57, 66, 0.7);
}

a.full-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--light);
}

#headshot {
    border: 2px solid var(--primary);
    border-radius: 100%;
    max-width: 150px;

}

.mainproject
{
    flex: 1;
    width: 100%;
    min-height: 30vh;
    background-image: url(https://cdn.pixabay.com/photo/2019/07/13/10/36/desk-4334514_1280.jpg);
    
}

.mainproject figure {
    min-height: 30dvh;
}


.about:first-child {
   margin-right: 10px;  
}

.about:nth-child(2) {
    flex: 3;
    min-width: 50vh;

}

h3 {
    padding: 40px;
    border: 3px inset #110b12;
    background-color: var(--ribbon);
}

figure p {
    padding: 40px;
  
}


.card
{
    flex: 1;
    min-width: 300px;

}

.card:first-child {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/16/23/45/ruby-726372_1280.jpg);

}

.card:nth-child(2) {
 background-image: url(https://cdn.pixabay.com/photo/2017/01/29/16/41/background-2018675_1280.jpg);   
}

.card h3 p {
    padding: 50px;
}

footer{
    padding: 30px 0;
    text-align: center;
}

